[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
pandas = "*"
sklearn = "*"
category-encoders = "==2.*"
dash = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
app = "*"
heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
